img/groups/girls.jpg 
img/groups/mm.jpg  
img/groups/new.jpg
img/groups/mm2.jpg
img/groups/reliance_group.jpg
img/known/.DS_Store
img/known/Ajith Kumar.jpg

img/known/Jissmon Jose.jpg
img/unknown/M-1455 (3).JPG
img/unknown/ajith_04.jpg
img/groups/.DS_Store

venv/
*.txt
zip_sample.py

new_one.py
